---
import Layout from '../layouts/Layout.astro';
import Chapter from '../components/Chapter.astro';
---

<Layout title="Know Before You Go.">
	<main class="">
    <div>
      <h1 class="text-2xl">Know Before You Go</h1>
      <h3>An Encouragement for Departing Souls</h3>
    </div>
    <Chapter />
	</main>
</Layout>

