---


interface Props {
	title: string;
  name: string;
	body: string;
	href: string;
}

const { href, title, name, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
      {name}
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>

